body {
    display: flex;
    align-items: flex-start;
}

.blue {
    padding: 100px;
    background-color: rgb(67, 67, 230);
}

.yo {
    padding: 100px;
    margin: 15px;
    background-color: yellow;
}

.flex{
    display: flex;
}


.red{
    padding-right: 330px;
    background-color: red;
}